.carousel-main {
  background-color: #171717;
  padding: 80px 0 0px;
  overflow: hidden;
}

.spacer {
  margin-top: 10px;
}

.view-all {
  margin: 30px 0 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.carousel-row {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-track {
  display: flex;
  animation: scrollLeft 120s linear infinite;
}

.carousel-track.reverse {
  animation: scrollRight 120s linear infinite;
}

.carousel-img {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 12px;
}

.carousel-img:hover {
  cursor: pointer;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
